<div id="portfolio" class="container-fluid text-center bg-grey">
    <h1 >Event Details</h1><br>
    <br>
    <div class="row slideanim ">
        <div class="col-sm-4 event-slide">
            <img src="images/camping.jpeg" alt="Basketball" width="350" height="300">
            <h4>Camping</h4>
            <p class="w3-justify">Date.28th June(Tentative) </p>
            <p class="w3-justify">Nainital</p>
            <p class="w3-justify">Time 7pm to 9pm </p>
            <p class="w3-justify">Book your Seat </p>
        </div>
        <div class="col-sm-4 event-slide" >
            <img src="images/marathon.jpg" alt="Marathon" width="350" height="300">
            <h4>Marathon Running</h4>
            <p class="w3-justify">Date.1st march (Tentative)</p>
            <p class="w3-justify">Uttarakhand </p>
            <p class="w3-justify">Time 5am to 8am </p>
            <p class="w3-justify">Book your slot </p>

        </div>
        <div class="col-sm-4 event-slide" >
            <img src="images/music.jpg" alt="Football" width="350" height="300">
            <h4>Music Competition</h4>
            <p class="w3-justify">Date.6th March (Tentative)</p>
            <p class="w3-justify">Masi. </p>
            <p class="w3-justify">Time 7am to 2pm </p>
            <p class="w3-justify">Book your slot </p>          </div>
    </div>
    <br><br>
    <div class="row slideanim" >
        <div class="col-sm-4 event-slide">
            <img src="images/sports.png" alt="Badminton" width="350" height="300">
            <h4>Sports competition</h4>
            <p class="w3-justify">June 2018 </p>
            <p class="w3-justify">Ramganga Valley </p>
            <p class="w3-justify">Time 7am to 12pm </p>
            <p class="w3-justify">Book your slot </p>

        </div>
        <div class="col-sm-4 event-slide" >
            <img src="images/cultural.jpeg" alt="Tabletennis" width="350" height="300">
            <h4>Cultural Activity</h4>
            <p class="w3-justify">Date.14th February </p>
            <p class="w3-justify">Ramganga Valley </p>
            <p class="w3-justify">Time 6pm to 10pm </p>
            <p class="w3-justify">Book your slot </p>

        </div>
        <div class="col-sm-4 event-slide" >
            <img src="images/cultural.jpeg" alt="Table Tennis" width="350" height="300">
            <h4 style="color:#303030;">Cultural Activity</h4>
            <p class="w3-justify">Date.14th August </p>
            <p class="w3-justify">Ramganga Valley</p>
            <p class="w3-justify">Time 3pm to 6pm </p>
            <p class="w3-justify">Book your slot </p>
        </div>
    </div>
</div><br>