<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ./layouts/head %>
	</head>
	<body>
	<!-- Header Started in home-->
	<header>
		<% include ./layouts/header %>
	</header>
	<!-- Header Ended in home-->
	<% include ./layouts/common %>
	<main>
			<div class="container">
			<div class="row main text-center">
				<h3>The Quest to make uttarakhand a paradise in the earth and uplift the rural areas of Uttarakhand.
				<br><br>This marathon is a symbol of freedom, passion
				<br> and a life long commitment to improve the life of DevBhoomi.
				<br><br>This Event is supported by Dagdi® to promote rural economy and bring awareness about the situation and areas of 
				<br>improvement in which we need urgent attention. 
				</h3>
			</div>
		</div>
	</main>
	<!-- Main Ended in Home-->
	<!-- Footer Added in Home-->
	<footer>
		<% include ./layouts/footer %>
	</footer>
	<!-- Footer Ended in Home-->
	</body>
</html>