<div class="jumbotron text-center banner" size="10%" >
    <h1 class="home">Run For Dev-Bhoomi</h1>
    <p class="home">Run For you, your Health, your People</p>
    <form>
        <div class="input-group">
            <input type="email" class="form-control" size="10" placeholder="Email Address" required>
            <div class="input-group-btn">
                <button type="button" class="btn btn-danger">Subscribe</button>
            </div>
        </div>
    </form>
</div>
<div id="about" class="container-fluid main-about">
    <div class="row">
        <div class="text-center">
            <h2>Run for Health</h2><br>
            <h4>Have you ever wondered how it feels to run over some hilly slopes with the mountains on your one side &amp; the soothing flow of the mountainous river on the other?
                <br><br>The beautiful ambience &amp; the amalgamation of the 2 different miracles of Mother Nature: The
                Mighty Mountains &amp; the Flowing River running sideways with you fills the spirit with sensations &amp; feeling of ultimate pleasure.
                <br><br>Yes, this time Ma Bharati Social service Group Masi has such a pleasant opportunity for you and your loved ones.</h4><br>
        </div>
    </div>
</div>