<a  [routerLink]="['/']" class="w3-bar-item ">
  <img src="../../assets/dagdi.png"  class ="logo"alt="Dagdi">
</a>


<input type="text" class="w3-bar-item w3-input w3-round-large w3-center" placeholder="Search..">
<a [routerLink]="['/login']" class="w3-bar-item w3-bold w3-button w3-text-yellow"><h4>Login</h4></a>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->